
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 50px;
  margin: 0px;
  background: #1F2937;
}

.header {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.top {
  display: flex;
  padding: 60px 150px;
  background: #1F2937;
  font-family:'Times New Roman', Times, serif;
  gap: 45px;
}

.top img {
  object-fit: cover;

  height: 200px;
}

.subtext {
  padding-bottom: 10px;
}

.headline {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  line-height: 0.9;
  padding-bottom: 5px;
}

.subtext, .links {
  font-size: 16px;
  color: #a6b0c3;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #3882F6;
  color: white;
  padding: 8px 16px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.second-heading {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding-top: 30px;
  padding-bottom: 30px;
}

.containers {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.plant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
}

.middle img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  padding-bottom: 5px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items:center;
  background: #e5e7eb;
  padding: 100px;
}

.quote {
  display: flex;
  max-width: 700px;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.attribution {
  display: flex;
  font-size: 20px;
  width: 700px;
  justify-content: flex-end;
  font-weight:700;
}

footer {
  background-color: white;
  padding: 60px 300px;
}

.attention {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3882F6;
  padding: 35px 80px;
  flex-wrap: wrap;
}

footer .text {
  color: white;
  padding-bottom: 10px;
}

.text .title {
  font-weight: 700;
  font-size: 20px;
}

footer button {
  display: flex;
  background-color: #3882F6;
  color: white;
  border: 2px solid white;
  padding: 8px 32px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

